.shadow-black {
  box-shadow: $shadow-black;
}
.shadow-dark {
  box-shadow: $shadow-dark;
}
.shadow-secondary {
  box-shadow: $shadow-secondary;
}
.shadow-primary {
  box-shadow: $shadow-primary;
}
.shadow-danger {
  box-shadow: $shadow-danger;
}
