@import "./bg";
@import "./border";
@import "./calc";
@import "./columns";
@import "./display";
@import "./error";
// @import "./hide-show";
@import "./margin";
@import "./padding";
@import "./shadow";
@import "./text";
@import "./title";
@import "./link";

.relative {
  position: relative;
}
.pointer {
  cursor: pointer;
}
.fluid {
  width: 100%;
}
