<div class="card-left">
  <h3>90 000 Р</h3>
  <div class="img">
    <img src="" alt="" />
  </div>
  <ul class="d-flex">
    <li class="img img-gallery">
      <img src="" alt="" />
    </li>
  </ul>
</div>
<div class="card-right">
  <div>
    <h3></h3>
    <a class="btn icon icon-left icon-phone">Показать номер телефона</a>
  </div>
  <div>
    <h4>Адрес</h4>
    <p>Севастополь, ул. Гоголя, 33Б</p>
    <a class="link icon icon-right icon-arrow-top-right"></a>
  </div>
  <div>
    <h4>Описание</h4>
    <p>Севастополь, ул. Гоголя, 33Б</p>
  </div>
</div>