<form [formGroup]="form" class="settings-form pt-24" (ngSubmit)="onSubmitPassword()">
  <h4 class="pb-24">Смена пароля</h4>
  <span *ngIf="errorMessageProps" class="error">{{errorMessageProps}}</span>
  <div class="settings-form__field input-settings">
    <label>
      <div class="mb-8">Текущий пароль</div>
      <app-input-password [controlsProps]="form.controls['password']" [errorMessageProps]="errorMessagePass"
        placeholderProps="Введите текущий пароль" (passwordInput)="onGetPassInputProps($event)"
        (password)="onGetPasswordProps($event)">
      </app-input-password>
    </label>
  </div>
  <div class="settings-form__field input-settings">
    <label>
      <div class="mb-8">Новый пароль <span class="text-secondary">(минимум 8 символов)</span></div>
      <app-input-password settings-address [controlsProps]="form.controls['newPassword']"
        [errorMessageProps]="errorMessageNewPass" placeholderProps="Введите новый пароль"
        (passwordInput)="onGetNewPassInputProps($event)" (password)="onGetNewPasswordProps($event)">
      </app-input-password>
    </label>
  </div>
  <div class="settings-form__footer">
    <button class="btn" type="submit" [disabled]="form.invalid || isSubmittingProps"
      [class.disabled]="form.invalid || isSubmittingProps">
      <!-- [class.disabled]="isSubmittingProps"> -->
      Изменить пароль
    </button>
  </div>
</form>