<div class="card-product">
  <div class="card-product__top">
    <!-- <img [src]="prod.prod.images.featured" [alt]="prod.prod.name" /> -->
    <img [src]="prod.prod.images.background" [alt]="prod.prod.name" />
    <!-- <img [src]="prod.prod.images.full_background" [alt]="prod.prod.name" /> -->
    <!-- <img [src]="prod.prod.images.icon" [alt]="prod.prod.name" /> -->
    <!-- <img [src]="prod.prod.images.icon_background" [alt]="prod.prod.name" /> -->
  </div>

  <div class="card-product__body">
    <h6 class="text-primary">{{prod.prod.name}}</h6>
    <h6>{{prod.price}}</h6>
    <p class="card-product__description">Москва, Ленинский проспект</p>
    <p class="card-product__description">Сегодня 14:12</p>
  </div>
</div>