<div class="container">
  <app-breadcrumbs [breadcrumbsProps]="breadcrumbs" [isProductInfoProps]="isProductInfo"
    (getLinkBreadcrumbs)="onGetLinkBreadcrumbsProps($event)"></app-breadcrumbs>
  <router-outlet *ngIf="isProductInfo; else notProductInfo"></router-outlet>
  <ng-template #notProductInfo>
    <h4>Объявления по запросу {{searchText}}</h4>
    <div class="wrap">
      <app-filter-sidebar [categoriesProps]="categories" [activeCategoryProps]="activeCategory"
        [activeSubcategoryProps]="activeSubcategory" (getRouterLink)="onGetRouterLinkProps($event)"
        (submitFormFilter)="onSubmitFormFilterProps($event)">
      </app-filter-sidebar>
      <ul *ngIf="products; else loading" class="card-list">
        <li *ngFor="let prod of products">
          <app-card-product [productProps]="prod" (getIdAndTitle)="onGetIdAndTitleProps($event)"></app-card-product>
        </li>
      </ul>
      <ng-template #loading>
        <app-loading></app-loading>
      </ng-template>
    </div>
  </ng-template>
</div>