<div class="card-product relative">
  <div class="card-product__top pointer bg-color-white-dark" [ngClass]="{'br-base': advertProps.imagesIds.length <= 0}"
    [ngStyle]="{'background-image': image}" (click)="onGetAdvert(advertProps, 'info')">
    <!-- <img *ngIf="advertProps.imagesIds.length > 0; else noImg" [src]="image" [alt]="advertProps.name" /> -->
    <!-- <ng-template #noImg> -->

    <!-- <ng-template> -->
    <app-no-image *ngIf="advertProps.imagesIds.length === 0"></app-no-image>
    <!-- </ng-template> -->
  </div>
  <div class="card-product__body">
    <a class="pointer" (click)="onGetAdvert(advertProps, 'info')">
      <h6 *ngIf="advertProps" class="text-primary">{{advertProps.name}}</h6>
    </a>
    <h6 *ngIf="advertProps">{{advertProps.cost | customCurrency: " ₽"}}</h6>
    <p class="card-product__description">{{advertProps.location}}</p>
    <p class="card-product__description">{{advertProps.createdAt | customDate}}</p>
  </div>
  <div *ngIf="isEditProps">
    <div *ngIf="!isDelete; else delete" class="card-product__footer d-flex py-16">
      <!-- <button class="btn mr-12" (click)="onGetAdvert(advertProps, 'edit')">Редактировать</button> -->
      <button class="btn" (click)="onToggleIsDelete(true)">Удалить</button>
    </div>
  </div>
</div>
<ng-template #delete>
  <div class="py-16">
    <h6 class="text-danger">Вы точно хотите удалить это объявление</h6>
    <div class="d-flex pt-8">
      <button class="btn mr-12" (click)="onGetAdvert(advertProps, 'delete')">Да</button>
      <button class="btn" (click)="onToggleIsDelete(false)">Нет</button>
    </div>
  </div>
</ng-template>