.settings-form {
  // padding-top: 24px;
  &__field {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    &:last-child {
      margin-bottom: 0;
    }
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  #settings-address {
    width: 856px;
  }
  &__footer {
    margin-bottom: 48px;
    width: 285px;
    padding-top: 8px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
