.circle {
  border: 1px solid $white-dark;
  border-radius: 50%;
  overflow: hidden;
  // &__avatar-mini {
  //   width: 50px;
  //   height: 50px;
  //   background: url("../../img/image/no-avatar.jpeg") center/contain no-repeat;
  // }
  // &__avatar-big {
  //   width: 100px;
  //   height: 100px;
  //   background: url("../../img/image/no-avatar.jpeg") center/contain no-repeat;
  // }
}
