.form {
  width: 416px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__body {
    width: 100%;
    padding: 24px 0;
  }
  &__field {
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__error {
    margin-bottom: 5px;
    color: $danger;
  }
}
@media (max-width: $media-xs) {
  .form {
    @include SizePx("width", 416, 305, 446, 320);
    padding: 24px 0;
  }
}
