.card-info {
  padding-top: 8px;
  // padding-bottom: 80px;
  display: flex;
  gap: 24px;
  flex-wrap: nowrap;
  // &__left {
  // margin-right: 24px;
  // width: 856px;
  // }
  &__imgs {
    margin-top: 16px;
    width: 856px;
    // height: 512px;
    height: 542px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
  }
  &__img {
    // width: 100%;
    // height: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    position: relative;
    vertical-align: middle;
    display: inline;
  }
  &__bg {
    display: block;
    background: no-repeat center;
    background-size: cover;
    opacity: 0.4;
    position: absolute;
    top: -16px;
    right: -16px;
    bottom: -16px;
    left: -16px;
    z-index: -1;
    // width: 250%;
    // height: 250%;
    filter: blur(16px);
  }
  &__gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 24px;
    &:last-child {
      margin-right: 0px;
    }
  }
  &__gallery-item {
    width: 120px;
    height: 84px;
    border-radius: 4px;
    overflow: hidden;
  }
  &__gallery-item:hover {
    border: 1px solid $primary; //**!
  }
  &__gallery-item.active {
    border: 3px solid $primary;
  }
  &__img-gallery {
    // width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    border-radius: 4px;
    overflow: hidden;
    // img {
    //   width: 100%;
    //   // &:hover {
    //   //   width: 105%;
    //   // }
    // }
  }
  &__gallery-item.active &__img-gallery {
    border: 1px solid $white;
  }
  &__right {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  &__body {
    margin-top: 40px;
  }
  &__description {
    margin-top: 32px;
  }
}

@media (max-width: $media-xl) {
  .card-info {
    &__imgs {
      width: 732px;
      // height: 442px;
      height: 465px;
    }
  }
}
@media (max-width: $media-lg) {
  .card-info {
    &__imgs {
      width: 602px;
      height: 388px;
      // height: 170px;
    }
  }
}
@media (max-width: $media-md) {
  .card-info {
    &__imgs {
      width: 412px;
      height: 264px;
      // height: 170px;
    }
    &__right {
      .btn-phone {
        font-size: $text-lg;
        line-height: $lh-lg;
        & svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
@media (max-width: $media-sm) {
  // .card-info {
  // &__img {
  // width: 262px;
  // height: 262px;
  // height: 170px;
  // }
  // }
}
@media (max-width: $media-xs) {
  // .card-info {
  // &__img {
  // width: 100%;
  // @include SizePx("height", 268, 140, 576, 275);
  // @include SizePx("width", 258, 137, 575, 275);
  // }
  // }
}
