.textarea {
  width: 100%;
  min-height: 168px;
  padding: 12px;
  font-size: $text-md;
  line-height: $lh-md;
  color: $dark;
  border: 1px solid $grey;
  border-radius: 4px;
  outline: none;
  &::placeholder {
    color: $secondary;
  }
}
