<div class="menu-card menu-card-no-break" [ngClass]="{
  'menu-card-break': subcategory.id === subcategoryIdColProps || subcategoryIdCol2Props,}">
  <h6 class="menu-link" (click)="onGetSubcategoryLink(title)">{{title}} | {{subcategory.id}} | {{subcategoryIdColProps}}
    | {{subcategoryIdCol2Props}}</h6>
  <ul class="menu-card-nav">
    <li *ngFor="let item of items" (click)="onGetSubcategoryLink(title, item)">
      <p class="menu-link">{{item}}</p>
    </li>
    <li *ngIf="isMore" (click)="onMoreItems()">
      <p class="menu-link">ещё {{quantity}}</p>
    </li>
  </ul>
</div>
