<div class="header br-b-white-dark">
  <div class="header__top bg-color-dark">
    <div class="container">
      <div class="header__wrap">
        <a class="btn icon icon-left icon-auth" [ngClass]="{'icon-right': isUser, 'icon-arrow-down': isUser}"
          (click)="onGoTo('login')">Войти</a>
        <a routerLink="/profile/new-announcement" class="btn icon icon-right icon-plus"
          (click)="onGoTo('profile/new-announcement')">Новое объявление</a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="header__bottom">
      <h3>Доска объявлений</h3>
      <a class="btn icon icon-left icon-white" [class.icon-menu-close]="isOpenMenu" (click)="onToggleMenu()">Все
        категории</a>
      <app-search (getSearchText)="getSearchTextProps($event)"></app-search>
    </div>
  </div>

  <div class="header__menu">
    <app-categories-menu *ngIf="isOpenMenu" class="bg-color-white" [categoriesProps]="categories"
      (closeMenu)="onCloseMenuProps($event)"></app-categories-menu>
  </div>

</div>