<div class="container">
  <div *ngIf="categoriesProps; else loading" class="menu">
    <app-categories-sidebar [categoriesProps]="categoriesProps" [activeMenuCategoryProps]="activeMenuCategory"
      (setActiveMenuCategory)="onActiveMenuCategoryProps($event)"></app-categories-sidebar>
    <div class="menu__content">
      <h4 class="d-flex menu-link" (click)="onGetCategoryLink(activeMenuCategory.name)">
        {{activeMenuCategory.name}}
        <span class="icon icon-right icon-arrow-right-big"></span>
      </h4>
      <div class="menu__card">
        <app-categories-body *ngFor="let subcategory of activeMenuCategory.body; let index = index" [indexProps]="index"
          [subcategoryProps]="subcategory" [subcategoryIdColProps]="categoryIdColumnCard"
          [subcategoryIdCol2Props]="categoryIdColumnCard2"
          (getSubcategoryLink)="onGetSubcategoryLinkProps($event)"></app-categories-body>
      </div>
    </div>
  </div>

  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>
</div>