<div class="container">
  <h4>Рекомендации для вас</h4>
  <ul *ngIf="adverts.length > 0; else notAdverts" class="card-list">
    <li *ngFor="let advert of adverts">
      <!-- <app-card-product [advertProps]="advert" (getAdvertUser)="onGetAdvertProps($event)"></app-card-product> -->
      <app-card-product [advertProps]="advert"></app-card-product>
    </li>
  </ul>
</div>
<ng-template #notAdverts>
  <app-loading *ngIf="!errorMessage"></app-loading>
  <h6 *ngIf="errorMessage">{{errorMessage}}</h6>
</ng-template>
