<form [formGroup]="form" class="form" (ngSubmit)="onAuthSubmit()">
  <h4>{{formHeader}}</h4>
  <div class="form__body">
    <span class="error m-b-8">{{formErrorMessage}}</span>
    <div class="form__field">
      <input class="input" type="text" placeholder="phone" formControlName="phone" />
      <!-- <span class="error"
        *ngIf="form.get('phone')?.invalid && form.get('phone')?.touched && form.get('phone')?.value.length > 0">
        Не верно заполнено поле
      </span> -->
    </div>
    <div *ngIf="formHeader === register" class="form__field">
      <input class="input" type="text" placeholder="Имя" formControlName="name" />
      <span class="error"
        *ngIf="form.get('name')?.invalid && form.get('name')?.touched && form.get('name')?.value.length > 0">
        Не верно заполнено поле
      </span>
    </div>
    <div class="form__field">
      <div class="relative">
        <input class="input input__visible" [type]="isInputType ? 'password' : 'text'" placeholder="Пароль"
          formControlName="password" />
        <a class="icon icon__visible" (click)="onChangeInputType()">
          <span class="material-icons">
            {{isInputType ? 'visibility_off' : 'visibility_on'}}
          </span>
        </a>
      </div>
      <span class="error" *ngIf="form.get('password')?.invalid &&
      form.get('password')?.touched && form.get('password')?.value.length > 0">
        {{getTextInvalidFormPass()}}
      </span>
    </div>
    <p *ngIf="formHeader !== register; else Register">Нет учетной записи? <a class="link"
        (click)="onSetIsLogin(false)">Зарегистрируйтесь и
        войдите!</a>
    </p>
    <ng-template #Register>
      <p>У вас уже есть учетная запись? <a class="link" (click)="onSetIsLogin(true)">Войти!</a></p>
    </ng-template>
  </div>
  <button class="btn btn__form" type="submit" [disabled]="form.invalid" [class.disabled]="form.invalid">
    {{ formBtnText }}
  </button>
</form>