:host {
  padding-top: 8px;
  display: flex;
  .card-left {
    margin-right: 24px;
    width: 856px;
    .img {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .gallery {
      margin-top: 24px;
      .img {
        margin-right: 12px;
        width: 120px;
        height: 84px;
        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }
  .card-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    .card-body {
      margin-top: 40px;
    }
    .card-description {
      margin-top: 32px;
    }
  }
}
