.filter-sidebar {
  padding-top: 9px;
  .nav {
    padding-top: 4px;
    padding-bottom: 8px;
    // margin-bottom: 8px;
    &-sub {
      padding-top: 0px;
      padding-bottom: 0;
      display: none;
    }
  }
  .nav-item {
    // margin-bottom: 8px;
    padding-left: 18px;
    // &:last-child {
    //   margin-bottom: 0;
    // }
  }
  .item-link {
    position: relative;
    // display: flex;
    // align-items: center;
    .btn {
      padding: 4px;
      position: absolute;
      top: 3px;
      left: -18px;
      background-color: transparent;
      line-height: 10px;
    }
    svg {
      transform: rotate(-90deg);
    }
  }
  .item-link.active {
    svg {
      transform: rotate(0);
    }
  }
  .form {
    max-width: 100%;
    padding: 8px 0;
  }
  .form-group {
    padding-bottom: 24px;
    display: flex;
    flex-wrap: nowrap;
    &:first-child {
      margin-right: 8px;
    }
  }
  .active {
    display: block;
  }
}
